.videoroom > div {
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Keeping the blue theme for contrast */

  height: 200px;
  width: 230px;
  border: 2px solid rgb(75, 85, 99); /* Gray-700 theme */
  outline: 1px solid rgb(107, 114, 128); /* Slightly lighter gray outline */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}
.videoroom > div > div {
  display: flex;
  justify-content: space-evenly;
}
.videoroom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 40px;
  overflow-x: hidden;
}

/* Add this to your global CSS file or index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(75, 85, 99); /* Light gray background for the track */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(75, 85, 99); /* red-600-like */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 85, 99);
}
